<!doctype html>
<hmtl>



    <head>
        {% load i18n %}
        {% load static %}
        {% load change_lang %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut Icon" type="image/png" href="{% static 'mysite/mysite/static/assests/img.png' %}">
        <link href='{% static "css/styles.css" %}' rel="stylesheet" />
        <link href='{% static "css/main.css" %}' rel="stylesheet" />

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

        <!--bootstrap stuff-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

        <!-- Google Fonts-->
        <link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <title>{% block title %}Artis' Website{% endblock %}</title>
        <link rel="shortcut Icon" type="image/png" href="Assets/Images/logo.png">
    </head>

    <body>
        <nav class="navbar navbar-inverse">
            <div class ="container">

                <a class="navbar-brand" href="assests/img.png">Logo</a>
            </div>
            <div class="container" id="myNavbar">
                <div class="logo">
                    <img src="assests/img.png"  width="100"
                    height="100" alt="Company Logo" />
                </div>
                <ul class="nav">
                    <li class="active">
                        <a href="/home">{% trans "Home" %}</a></li>
                        <li><a href="/products">{% trans "Products" %}</a></li>
                        <!--<li><a href="/create">{% trans "Create" %}</a></li>-->
                        <li><a href="/view">{% trans "View" %}</a></li>
                        <li><a href="/register">{% trans "Register" %}</a></li>
                        <li><a href="/login">{% trans "Sign In" %}</a></li>

                </ul>
                <ul class="nav navbar-right">
                    <li>
                        <!-- using template tag change_lang -->
                        {% get_language_info_list for LANGUAGES as languages %}
                        <nav class="navbar" id="langNavbar">
                            <ul class="navbar li">
                                {% for language in languages %}
                                <li><a href="{% change_lang language.code %}">
                                {{ language.name_local }}
                                </a></li>
                                {% endfor %}
                            </ul>
                        </nav>
                        <span class="glyphicon glyphicon-user"></span>{% trans "Language" %}</a>
                    </li>
                </ul>
            </div>
        </nav>


        <!--content block-->
        <div id="content" name="content" class="main">
            <div class="row justify-content-center">
                <div class="col-8">
                    <h1 class="mt-2">{% trans "Serene" %}</h1>
                    <hr class="mt-0 mb-4">
                        {% block content %}
                        {% endblock %}
                            <!--<h2 id="local-date">{% now "SHORT_DATE_FORMAT" %}</h2>-->
                </div>
            </div>
        </div>
        <!-- Option 2: Separate Popper and Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    </body>

    <section class="page-section">
    <footer>
        <div class="row">
            <div class="col-lg-12">
                    <div class="col-lg-4 mt-5">
                        <a href="#" class="social-icon"><i class="fa fa-facebook-f"></i></a>
                        <a href="#" class="social-icon"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="social-icon"><i class="fa fa-instagram"></i></a>
                        <a href="#" class="social-icon"><i class="fa fa-google-plus"></i></a>
                    </div>
            </div>
        </div>

        <center><div class="col-lg-4">
            <h3 class="contact-heading">CONTACT US</h3>
            <p class="contact-info"><i class="fa fa-map-marker"></i>  Grangegorman, TUD, Dublin 7, Ireland</p>
            <p class="contact-info"><i class="fa fa-phone"></i> +353 123 4567</p>
            <p class="contact-info"><i class="fa fa-envelope"></i>  info@serene.com</p>
            <p class="contact-info"><i class="fa fa-globe"></i> www.serene.com</p>
        </div></center>
    </footer>
    </section>
</hmtl>