{% extends 'main/base.html' %}

{% load i18n %}
{% load static %}
{% load change_lang %}

{% block title %} Create New List {% endblock %}

{% block content %}
<h3>Create Page</h3>
<!--method is set to "post" since we are modifying the database and the data needs to be encrypted-->
<form method="post" action="/create/" class="form-group">
    <!-- for every new form, verification, validation, security stuff-->
    {% csrf_token %}

    <!--form variable where danjgo will generate form html, by passing form object-->
    <!--{{form}}-->
    <!--
    {{form.as_table}} //will appear as table
    {{form.as_p}} //will appear vertically
    {{form.as_ul}} //will appear with dots as list
    -->
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <!--Submit button to submit form-->
            <button type="submit" name="save" class="btn btn-success">Create New</button>
        </div>
        {{form.name}}
    </div>

</form>
{% endblock %}